<div class="container my-5">
    <h3>Yorum ekle</h3>    
    <hr>
    <div class="row">
        <div class="col-md-7">
            <form>
                <div class="form-group">                    
                    <textarea cols="100" rows="3" class="form-control" placeholder="yorum ekle"></textarea>
                    @* <input type="password" class="form-control" id="addComment" placeholder="Yorum yaz"> *@
                </div>

                <button type="submit" class="btn btn-success mt-2">Yorumu gönder</button>
            </form>
        </div>
    </div>

</div>